.info-item{
    flex-direction: column;
    text-align: center;
    margin: 0px 28px;
    width: 30%;
}

.info-item-title{
    font-size: 28px;
    font-weight: 600;
    margin-top: 18px;
}
.info-item-desc{
    margin-top: 18px;
    font-size: 18px;
}